{% extends 'layouts/_index.html.twig' %}

{% block title %}Les Articles{% endblock %}

{% block main %}
    <h1>Les Articles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Image</th>
                <th>Contenu</th>
                <th>Créé le</th>
                <th>Modifié le</th>
                <th>Publié le</th>
                <th>Catégories</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.cover }}</td>
                    <td>{{ post.content | striptags | slice(0, 50) }}</td>
                    <td>{{ post.createdAt ? post.createdAt|date('d/m/Y') : '' }}</td>
                    <td>{{ post.updatedAt ? post.updatedAt|date('d/m/Y') : '' }}</td>
                    <td>{{ post.publishedAt ? post.publishedAt|date('d/m/Y') : '' }}</td>
                    <td>
                        {% for category in post.categories %}
                            {{ category.name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    <td>
                        <a href="{{ path('app_blog_post_show', {'id': post.id}) }}">Détails</a>
                        <a href="{{ path('app_blog_post_edit', {'id': post.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Aucun article</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_blog_post_new') }}">Nouvel article</a>
{% endblock %}
